.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.header_title {
  margin-left: 11px;
  color: #6c6c6c;
  font-weight: 400;
  font-size: 0.9375rem;
  font-family: Helvetica;
}

.header_title--bold {
  margin-right: 4px;
  font-weight: 700;
}

.header_title--light {
  opacity: 0.6;
}
