.card {
  width: 556px;
  margin: auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

.card h2,
.card h3 {
  display: flex;
  font-weight: 500;
  transform: scale(1, 1.1);
}

.card h3 {
  font-size: 17.72px;
}

.card ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.card section {
  margin-bottom: 27px;
}

.shipping {
  display: flex;
  flex-direction: row;
  padding-left: 14px;
}

.shipping p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.shipping_name {
  font-weight: 500;
}

.shipping_fee {
  margin-left: auto;
  font-weight: 500;
}

.active {
  background-color: #4169e2 !important;
  color: white !important;
  border: none;
}
