.item {
  display: flex;
  flex-direction: row;
  padding-left: 14px;
  margin-bottom: 13px;
  font-size: 0.9375rem;
}

.item_name {
  text-decoration: underline;
  color: blue;
}

.item_price {
  margin-left: auto;
}
