.card {
  width: 500px;
  margin: auto;
}

.title,
.products,
.shipping,
.payment {
  display: flex;
  font-weight: 500;
}

.card ul {
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

.shipping_courier {

}

.shipping_fee {
  margin-left: auto;
}