.creditCardInformation {
  /* width: 319px; */
  border: none;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.customTooltip {
  background-color: transparent;
  color: black;
  width: 100%;
  padding: 10px;
}

.errorCardExp {
  position: absolute;
  margin-left: 5px;
  white-space: nowrap;
  color: #d32f2f;
  bottom: -23px;
}

.errorCardHolder,
.errorCardNum {
  position: absolute;
  bottom: -21px;
  margin-left: 5px;
  white-space: nowrap;
  color: #d32f2f;
}

.errorCardCVV {
  position: absolute;
  width: 200px;
  top: 80px;
  margin-left: 5px;
  color: #d32f2f;
}

.termsAndConditions_helperText--error {
  position: absolute;
  bottom: -22px;
  margin-left: 14px;
  color: #d32f2f;
}

.asterisk {
  /* font-size: 17px; */
  color: #d32f2f;
  /* margin-left: -2px; */
}

.creditCardInformation_control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  position: relative;
}

.creditCardInformation_control label {
  /* font-family: Arial; */
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  color: #27272f;
  margin-bottom: 4px;
}

.creditCardInformation_control fieldset {
  border-radius: 0;
  border-color: #b1b6bc;
}

.creditCardInformation_control input {
  height: 20px;
  padding-top: 4px;
  padding-bottom: 10px;
}

.control_children {
  margin-bottom: -3px;
}

.control_children input {
  height: 18px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-right: 1px;
}

.endAdornment {
  padding-right: 3px;
  /* padding-bottom: 2px; */
}

.creditCardInformation_column--bordered {
  width: 319px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #dde2e5;
  border-style: solid;
  padding: 18px 20px 7px 20px;
  margin-right: 13px;
}
.column {
  padding-top: 21px;
  position: relative;
}

.control_divider {
  font-size: 10px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 8px;
}

.termsAndConditions {
  position: relative;
  margin-bottom: 10px !important;
}

.termsAndConditions_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #e1e5e8;
  background-color: #fcfcfc;
  margin-top: 27px;
  margin-bottom: 21px;
  padding: 11px 20px 11px 20px;
  font-size: 13px;
}

.termsAndConditions_wrapper--error {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #d32f2f;
  background-color: #fcfcfc;
  margin-top: 27px;
  margin-bottom: 21px;
  padding: 11px 20px 11px 20px;
  font-size: 14px;
}

.termsAndConditions_checkbox {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  align-self: center;
}

.termsAndConditions_checkbox--checked {
  width: 20px;
  height: 20px;
  opacity: 1;
  align-self: center;
}

.termsAndConditions_checkbox svg,
.termsAndConditions_checkbox--checked svg {
  width: 0.85rem;
  height: 0.85rem;
}

.termsAndConditions_checkbox--underlined {
  color: #336881;
  margin-left: 3px;
  border-bottom: 1.5px dotted #336881;
  cursor: pointer;
  font-weight: 500;
}

.actions button {
  background-color: #ff5319;
  text-transform: none;
  padding: 11.5px;
  font-size: 13.5px;
  font-family: OpenSans;
  font-weight: 400;
  border-radius: 6px;
  align-items: center;
}

.actions button:hover {
  background-color: #d64413;
}
