.btnGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 13px;
}

.btnGroup button {
  position: relative;
  border-radius: 5px;
  border: 1px solid #D0D3D6;
  background-color: inherit;
  color: #4169e2;
  padding: 8px 55px;
  font-size: 14px;
  font-family: OpenSans;
}

